[package]
name = "bootloader"
version = "0.1.0"
edition = "2021"

[dependencies]
uefi = "0.23"

[[bin]]
name = "bootloader"
path = "src/main.rs"

[profile.dev]
panic = "abort"
lto = false

[profile.release]
panic = "abort"
lto = false