[package]
name = "watos"
version = "0.1.0"
edition = "2021"

[dependencies]
linked_list_allocator = "0.9.1"
spin = "0.5.2"
volatile = "0.3.0"
smoltcp = { version = "0.11", default-features = false, features = ["medium-ethernet", "proto-ipv4", "socket-raw", "alloc"] }
wfs-common = { path = "crates/wfs-common", default-features = false }

[workspace]
members = [
    "src/bootloader",
    "crates/dos16-core",
    "crates/gwbasic"
]
exclude = ["junk"]

[workspace.dependencies]
uefi = "0.25"
uefi-services = "0.21"