[package]
name = "login"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "login"
path = "src/main.rs"

[dependencies]
watos-syscall = { path = "../../core/syscall" }

[profile.release]
panic = "abort"
lto = true
opt-level = "z"
strip = true
codegen-units = 1
